langchain==0.1.14
langchain-community==0.0.21
python-dotenv
streamlit
PyPDF2
python-docx
sentence-transformers
transformers
torch==2.1.0+cpu
huggingface_hub
git+https://github.com/AI-Yash/st-chat.git
